@use 'config';
@import "~bootstrap/scss/bootstrap";


.bg-secondary {
    background-color: config.$bg-secondary !important;
}

#search-bar {
    font-size: 1.5rem;
    border-radius: 3px;

    #button-addon {
        font-size: 1.5rem;
    }
}

.card {
    border: 0;

    .card-header {
        display: flex;
        max-height: 150px;
        overflow: hidden;
        justify-content: center;

        img {
            object-fit: cover;
        }
    }

    .card-body {
        font-size: .75em;
        background-color: config.$bg-secondary;
        line-height: 1em;

        .recipe-name {
            font-size: 1.3rem;
        }

        .recipe-time {
            font-weight: bold;
            font-size: 1rem;
        }

        .recipe-ingredient {
            .recipe-ingredient {
                font-weight: bold;

                &::after {
                    content: ": ";
                }
            }
        }
    }
}

input {
    height: 40px;
}

.dropdown-toggle::after {
    margin-left: 1.3em !important;
}

#filters-buttons {
    button {
        height: 60px;
    }
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;

    /*  li {
        flex: 33%;
        text-overflow: ellipsis;
    } */
}